<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, for: "nameField" %><br>
    <%= f.text_field :name,class: "form-control", id: "nameField" %>
  </div>
  <div class="field">
    <%= f.label :manager, for: "managerField" %><br>
    <%= f.text_field :manager,class: "form-control", id: "managerField" %>
  </div>
  <div class="field">
    <%= f.label :status, for: "statusField" %><br>
    <%= f.text_field :status,class: "form-control", id: "statusField" %>
  </div>
  <div class="field">
    <%= f.label :terms, for: "termsField" %><br>
    <%= f.number_field :terms,class: "form-control", id: "termsField" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
